.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;

  z-index: 100;
}

.sidebar {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 100px;
  width: 72px;
}

.left-section {
  align-items: center;
  display: flex;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 2px;
}

.search-bar::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 60px;
  border: 1px solid rgb(194, 194, 194);
  margin-left: -1px;
  position: relative;
}

.search-button img {
  height: 25px;
  margin-top: 4px;
}

.search-button,
.voice-over-button {
  position: relative;
}

.search-button .tool-tips,
.voice-over-button .tool-tips {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 10px 8px;
  border-radius: 3px;
  left: 0;
  top: 50px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.search-button:hover .tool-tips,
.voice-over-button:hover .tool-tips {
  opacity: 1;
}

.voice-over-button {
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
}

.right-section {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  /* Prevent shrinking */
  flex-shrink: 0;
}

.right-section img {
  height: 30px;
  border-radius: 16px;
}

.bell-notifications {
  position: relative;
}

.noti {
  position: absolute;
  right: -1px;
  top: 1px;
  width: 17px;
  height: 17px;
  background-color: rgb(173, 7, 7);
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.noti p {
  margin-top: 2px;
}
