.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  width: 100%;
  height: 75px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1.5s;
}

.sidebar-link img {
  width: 24px;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}
